<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Webcam</title>
  <link rel="stylesheet" type="text/css" href="css/webcam.css" />
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">

    <div class="screen">
      <div class="case">
        <div class="webcam"></div>

        <div class="display">

          <div class="app">

            <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
            <video id="camera-stream"></video>
            <img id="snap">

            <p id="error-message"></p>

            <div class="controls">
              <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><i class="fa fa-trash"></i></a>
              <a href="#" id="take-photo" title="Take Photo"><i class="fa fa-camera"></i></a>
              <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="fa fa-download"></i></a>
            </div>

            <!-- Hidden canvas element. Used for taking snapshot of video. -->
            <canvas></canvas>



          </div>


        </div>


      </div>
      <div class="keyboard-container">
        <div class="grey-area"></div>
      </div>
    </div>
    <div id="filterButtons"></div>

  </div>


  <script src="js/webcam.js" charset="utf-8"></script>


</body>

</html>