body {
  font-family: 'Pacifico', cursive;
  background: #ECF0F1;
}
.container{
  width: 100%;
}
.screen{
  width: 900px;
  position: relative;
  margin: 20px 250px 50px 220px;
}

.case{
  height: 400px;
  border: 30px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 0 2pt grey;
  position: relative;
}

.webcam{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #80ff00;
  position: absolute;
  top: -23px;
  left: 49%;
  z-index: 1;
  opacity: .8;
  -webkit-filter:blur(3px);
  filter:blur(3px);
}

.keyboard-container{
  position: relative;
}

.keyboard-container:after{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  height: 30px;
  width: 1100px;
  background-color: grey;
  border-radius: 0px 0px 15px 15px;
  z-index: 1;
}

.grey-area{
  background-color: lightgrey;
  width: 100px;
  height: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow:inset 0px 0px 2px #000;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}


.display{
    width: 100%;
}

.app{
    width: 100%;
    position: relative;
}

.app #start-camera{
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream{
    display: none;
    width: 840px;
    height: 400px;
    object-fit: fill;
}

.app img#snap{
    position: absolute;
    top: 0;
    left: 0;
    width: 840px;
    height: 400px;
    display: none;
}

.app #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls{
    position: absolute;
    top: 325px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}

.app .controls a{
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    padding: 15px;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.app .controls a:hover{
    opacity: 1;
}

.app .controls a.disabled{
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover{
    opacity: 0.5;
}

.app .controls a i{
    font-size: 18px;
}

.app .controls #take-photo i{
    font-size: 32px;
}

.app canvas{
    display: none;
}

.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible
{
    display: block;
}

.app .controls.visible{
    display: flex;
}



#filterButtons {
  text-align: center;
}

#Reset {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color:  #E74C3C;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid  #BD3E31;
  text-shadow: 0px -2px  #BD3E31;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#Reset:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}

#Blur {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color: #F2CF66;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#Blur:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}


#BnW {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color: #95A5A6;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid #757D75;
  text-shadow: 0px -2px #757D75;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#BnW:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}

#Bright {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color: #3498DB;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#Bright:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}

#Hue {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color: #82BF56;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#Hue:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}

#Invert {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color: #DB5A6B;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid #C93756;
  text-shadow: 0px -2px #C93756;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#Invert:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}

#Saturate {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color: #9B59B6;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid #8E44AD;
  text-shadow: 0px -2px #8E44AD;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#Saturate:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}
  #Sepia {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color: #E08A1E;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid #CA6924;
  text-shadow: 0px -2px #CA6924;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#Sepia:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}

#Contrast {
 position: relative;
  padding: 10px 20px;
  margin-right: 20px;
	border-radius: 10px;
	font-size: 22px;
	color: #FFF;
  text-decoration: none;
  background-color: #03A678;
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid #049372;
  text-shadow: 0px -2px #049372;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
#Contrast:active
{
	 transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
   border-bottom: 1px solid;
}